<div class="page__header">
    <h1 class="page__title">Your profile</h1>
</div>

<dl class="dl-horizontal ts-userProfile">
    <dt>Name</dt><dd>{{full_name}}</dd>
    <dt>Email</dt><dd>{{email}}</dd>
</dl>

{{#linkTo "profile.change_password" class="btn btn-small ts-profile-changePasswordLink" }}Change password{{/linkTo}}

