@import 'vars';

/********************************************************

				typography

********************************************************/
.title-style-h1{
	font-size: 29px;
	line-height: 1.3;
	margin: 0 0 10px 0;
}

.title-style-h2{
	font-size: 23px;
	color: #666;
	line-height: 1.3;
	margin: 0 0 7px 0;
}

.title-style-h3{
	font-size: 18px;
	line-height: 1.3;
	margin: 0 0 3px 0;
}


.text--subtle{
	color: #b1b1b1;
	font-size: 13px;
}

.text--large{
	font-size: 15px;
}

.text--normal{
	font-size: 14px;
}

.text--small{
	font-size: 12px;
}

.text--tiny{
	font-size: 11px;
	line-height: 1.2;
}

.control-link{
	margin-left: 10px;
	color: #dd6669
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

/********************************************************

			visual utils

********************************************************/

.btn--darkbg{
	border-color:rgba(0,0,0,0.35);
}

.text--abbr{
	color: #a94d45;
	#border-bottom: 1px dashed #AAA;
	cursor: pointer;
	&:hover{
		text-decoration: none;
		color: #62140e;
	}
}

/********************************************************

	a circle with number inside

********************************************************/
.note-number{
	background: #dc9522;
	border-radius: 50px;
	padding: 0 4px;
	color: #fff;
	display: inline-block;
	height: 15px;
	line-height: 15px;
	margin-top: 0px;
	margin-left: 3px;
	font-size: 12px;
}

.note-number--subtle{
	background: #d2d2d2;
}

.icon-spinner{
	font-size: 1.5em;
	vertical-align: middle;
}

/********************************************************

	 dNd utils elements

********************************************************/
.dNd-placeholder{
	border:2px dashed #ccc;
	height: 0;
}

.dNd-indicator {
	color: #E1E1E1;
	padding: 9px 2px 4px 5px;
	cursor: move;
	height: 10px;
}

.dNd-dragging .list__blocks__link{
	display: block;
}

/********************************************************

	custom icons

********************************************************/

