<div class="block--top-actions">
	{{render "student_groups/course_view" course}}

    <div class="top-actions">
        <div class="btn-group">
            <button {{action 'leaveClass' this}} class="btn btn-small"><i class="icon-signout"></i> Leave class</button>
        </div>
    </div>
</div>


