<div class="block--top-actions">
    <h1 class="block--top-actions__title">
		Edit Topic for <span>{{controllers.course.title}}</span>
    </h1>
    {{partial 'topics/form'}}
    {{partial 'topics/top_actions'}}
    {{partial 'topics/tabs'}}
</div>
