<div class="controls">
  <div class="control-group">
    <div class="controls">
      <div id="grades" class="btn-toolbar">
        {{view Openedui.GradesView}}
      </div>
    </div>
  </div>
</div>
