{{#link-to 'standard_groups'}}<i class="icon-arrow-left"></i> Back to Standard Groups{{/link-to}}
<h4>{{controllers.standard_group.name}}</h4>
<ul class="nav nav-list">
  {{#each category in controller}}
    {{partial "categories/show"}}
  {{/each}}
</ul>
