<div class="row-fluid">
  <div class="span8 offset2">
    <div class="clearfix">
      <h1 class="title-style-h3">{{title}}</h1>
    </div>
    {{partial "resources/embedded_content"}}
  </div>
</div>