<div class="block--top-actions">
	<h1 class="block--top-actions__title">
		Edit course
	</h1>
    {{partial 'courses/form'}}
    {{partial 'courses/top_actions'}}
    {{partial 'courses/tabs'}}
</div>
