<div class="msg--empty">
	<p>
    	You can {{#link-to "courses.new"}}create courses{{/link-to}} in OpenEd and share them with your students.
	</p>
	<p>
		Create a sequence of topics and optionally align each one to a standard.
		OpenEd will recommend and allow you to choose resources for each topic.
	</p>
</div>