<div class="block--top-actions">
	{{render "student_groups/course_view" this}}

    <div class="top-actions">
        <div class="btn-group">
			{{#link-to "topics" this.id class="btn btn-small btn-inverse"}}<i class="icon-arrow-left"></i> Back to Course{{/link-to}}
        </div>
    </div>
</div>
