<form class="form-inline">
	Share via:
	<div class="btn-group">
		<a class="btn btn-small" {{bind-attr href="mailto_url"}}><i class="icon-envelope"></i> Email</a>
		<a class="btn btn-small" {{bind-attr href="tweet_url"}}  target="_blank"><i class="icon-twitter"></i>  Twitter</a>
		<a class="btn btn-small" {{bind-attr href="fbook_url"}}  target="_blank"><i class="icon-facebook"></i> Facebook</a>
	</div>
	<div class="btn-group">
		<input class="input-xxlarge" type="text" autofocus="autofocus" {{bind-attr value="link"}} />
	</div>
</form>