<div class="msg msg--empty">
	<p>
       Playlists are collections of resources that
       you wish to share with students or other teachers.
    </p>
    <p>
       You can share them via Twitter and Facebook or email a URL for them.
	</p>
</div>