<div class="row-fluid">
    <div class="span10">
        <div class="block--top-actions">
            <h1 class="block--top-actions__title title-style-h2">{{name}}</h1>

            {{partial 'playlists/social_buttons'}}

            <div class="tabs-layout">
                <div class="tab-content tabs-layout__content">
                    {{partial 'playlists/resources'}}
                </div>
            </div>
        </div>

    </div>
</div>