<div class="row-fluid">
  <div class="span4">
    <h4>About OpenEd</h4>
    <p>OpenEd Inc. was founded in 2012 with the goal of enabling teachers to have access to the best educational resources (videos, games and more) for their students, especially for Common Core standards. To do this we have built the world's largest educational resource catalog (over a quarter million of them). OpenEd is committed to keeping all of this access available free to all teachers worldwide. We are also making most of the site's software (including the catalog itself) open source. OpenEd is a Delaware C corporation with friends and family funding.</p>
  </div>
</div>
