<div class="home-pr">
    <div class="home-pr__header">
        <h1 class="home-pr__title">World's Largest Educational Resource Catalog</h1>

        <h2 class="home-pr__subtitle">
            More than a quarter million videos and games, all Common Core aligned.
        </h2>
    </div>
    <div class="home-pr__center">
        <div class="home-pr__block home-pr__block--top1">
            <div class="media">
                <div class="media-body">
                    <h5 class="media-heading">
						{{#linkTo "areas" }}Search for videos and games{{/linkTo}}<br/> by keyword or Directory subject
                        (more than quarter million high quality resources available).
                    </h5>
                </div>
            </div>
        </div>

        <div class="home-pr__block home-pr__block--bot1">
            <div class="media">
                <div class="media-body">
                    <h5 class="media-heading">
						{{#linkTo "courses" }}Create courses*{{/linkTo}} using the OpenEd LMS with multiple topics. Manage classes of students for them. OpenEd recommends resources for each topic.<br/>
                        <span class="text--tiny text--subtle">*-requires signup, so we can store your course.</span>
                    </h5>
                </div>
            </div>
        </div>

        <div class="home-pr__block--mid">
            <img class="home-pr__block--mid__img" src="/images/promo/octoed.png" usemap="#octoedmap"/>
            <map name="octoedmap">
                <area shape="circle" coords="240,82,116" href="#/search/areas" alt="Browse Directory">
                <area shape="circle" coords="240,410,116" href="#/playlists" alt="Create Playlists">
                <area shape="circle" coords="395,240,116" href="#/search/standard_groups" alt="Browse Standards">
                <area shape="circle" coords="10,240,116" href="#/courses" alt="Create Courses">
            </map>
        </div>

        <div class="home-pr__block home-pr__block--top2">
            <div class="media">
                <div class="media-body">
                    <h5 class="media-heading">
						{{#linkTo "search" }}Browse Common Core and other standards{{/linkTo}}
                        to see associated resources, accurately aligned.
                        20 times more aligned resources than any other catalog.
                    </h5>
                </div>
            </div>
        </div>

        <div class="home-pr__block home-pr__block--bot2">
            <div class="media">
                <div class="media-body">
                    <h5 class="media-heading">
						{{#linkTo "playlists" }}Create playlists*{{/linkTo}} of videos and other resources.
                        Share with students, other teachers and other ed software.<br/>
                        <span class="text--tiny text--subtle">*-requires signup, so we can store your playlist.</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="well clearfix">
    <div class="span7">
        <div class="media">
			{{#linkTo "profile.signup" class="btn btn-success btn-large pull-left"}}Create New Account{{/linkTo}}
            <div class="media-body">
                <h5 class="media-heading">FREE registration. Really. Forever. No sharing of your data. Your account just
                    lets you store and share playlists and courses.</h5>

                <p>Already have an account? {{#linkTo "profile.signin"}}Sign In{{/linkTo}}</p>
            </div>
        </div>
    </div>
    <div class="span5">
        <div class="media">
			{{#linkTo "search" class="btn btn-large pull-left"}}Just Search Now{{/linkTo}}
            <div class="media-body">
                <h5 class="media-heading">Search the world's biggest K-12 video repository for free and anonymously</h5>
            </div>
        </div>
    </div>
</div>
